<h1>Welcome, <%= @user.display_name %>!</h1>
<p>
  You have been added to the company <strong><%= @company.name %></strong>.
</p>
<p>
  You can visit the site using the link below:
</p>
<p>
  <a href="<%= @url %>">Visitar o site</a>
</p>
